.pager li { display: inline; }
.collapsible{
	width: 100%;
	 border:none;
    
    padding:0px;
}

.ui-accordion .ui-accordion-content {
    border:none;
    
    padding:0px;
}

.monospace {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}